@model IEnumerable<PmQL.Models.FmpSai>

@{
    ViewData["Title"] = "FMP_Sai Data";
}

<h1>Dữ liệu FMP_Sai</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Ngày</th>
            <th>Giá</th>
            <th>0h30</th>
            <th>1h</th>
            <th>1h30</th>
            <th>2h</th>
            <th>2h30</th>
            <th>3h</th>
            <th>3h30</th>
            <th>4h</th>
            <th>4h30</th>
            <th>5h</th>
            <th>5h30</th>
            <th>6h</th>
            <th>6h30</th>
            <th>7h</th>
            <th>7h30</th>
            <th>8h</th>
            <th>8h30</th>
            <th>9h</th>
            <th>9h30</th>
            <th>10h</th>
            <th>10h30</th>
            <th>11h</th>
            <th>11h30</th>
            <th>12h</th>
            <th>12h30</th>
            <th>13h</th>
            <th>13h30</th>
            <th>14h</th>
            <th>14h30</th>
            <th>15h</th>
            <th>15h30</th>
            <th>16h</th>
            <th>16h30</th>
            <th>17h</th>
            <th>17h30</th>
            <th>18h</th>
            <th>18h30</th>
            <th>19h</th>
            <th>19h30</th>
            <th>20h</th>
            <th>20h30</th>
            <th>21h</th>
            <th>21h30</th>
            <th>22h</th>
            <th>22h30</th>
            <th>23h</th>
            <th>23h30</th>
            <th>24h</th>
            <th>Tổng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Ngay</td>
                <td>FMP</td>
                <td>@item.ChuKy0h30?.ToString("N1")</td>
                <td>@item.ChuKy1h?.ToString("N1")</td>
                <td>@item.ChuKy1h30?.ToString("N1")</td>
                <td>@item.ChuKy2h?.ToString("N1")</td>
                <td>@item.ChuKy2h30?.ToString("N1")</td>
                <td>@item.ChuKy3h?.ToString("N1")</td>
                <td>@item.ChuKy3h30?.ToString("N1")</td>
                <td>@item.ChuKy4h?.ToString("N1")</td>
                <td>@item.ChuKy4h30?.ToString("N1")</td>
                <td>@item.ChuKy5h?.ToString("N1")</td>
                <td>@item.ChuKy5h30?.ToString("N1")</td>
                <td>@item.ChuKy6h?.ToString("N1")</td>
                <td>@item.ChuKy6h30?.ToString("N1")</td>
                <td>@item.ChuKy7h?.ToString("N1")</td>
                <td>@item.ChuKy7h30?.ToString("N1")</td>
                <td>@item.ChuKy8h?.ToString("N1")</td>
                <td>@item.ChuKy8h30?.ToString("N1")</td>
                <td>@item.ChuKy9h?.ToString("N1")</td>
                <td>@item.ChuKy9h30?.ToString("N1")</td>
                <td>@item.ChuKy10h?.ToString("N1")</td>
                <td>@item.ChuKy10h30?.ToString("N1")</td>
                <td>@item.ChuKy11h?.ToString("N1")</td>
                <td>@item.ChuKy11h30?.ToString("N1")</td>
                <td>@item.ChuKy12h?.ToString("N1")</td>
                <td>@item.ChuKy12h30?.ToString("N1")</td>
                <td>@item.ChuKy13h?.ToString("N1")</td>
                <td>@item.ChuKy13h30?.ToString("N1")</td>
                <td>@item.ChuKy14h?.ToString("N1")</td>
                <td>@item.ChuKy14h30?.ToString("N1")</td>
                <td>@item.ChuKy15h?.ToString("N1")</td>
                <td>@item.ChuKy15h30?.ToString("N1")</td>
                <td>@item.ChuKy16h?.ToString("N1")</td>
                <td>@item.ChuKy16h30?.ToString("N1")</td>
                <td>@item.ChuKy17h?.ToString("N1")</td>
                <td>@item.ChuKy17h30?.ToString("N1")</td>
                <td>@item.ChuKy18h?.ToString("N1")</td>
                <td>@item.ChuKy18h30?.ToString("N1")</td>
                <td>@item.ChuKy19h?.ToString("N1")</td>
                <td>@item.ChuKy19h30?.ToString("N1")</td>
                <td>@item.ChuKy20h?.ToString("N1")</td>
                <td>@item.ChuKy20h30?.ToString("N1")</td>
                <td>@item.ChuKy21h?.ToString("N1")</td>
                <td>@item.ChuKy21h30?.ToString("N1")</td>
                <td>@item.ChuKy22h?.ToString("N1")</td>
                <td>@item.ChuKy22h30?.ToString("N1")</td>
                <td>@item.ChuKy23h?.ToString("N1")</td>
                <td>@item.ChuKy23h30?.ToString("N1")</td>
                <td>@item.ChuKy24h?.ToString("N1")</td>
                <td>@item.Tong?.ToString("N1")</td>
            </tr>
        }
    </tbody>
</table>

<style>
    .table {
        font-size: 14px;
    }

    th, td {
        text-align: center;
    }
</style>